<?xml version="1.0"?>
<robot name="robot_arm" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="end_effector" default="jaw"/>
  
  <xacro:include filename="$(find arm_description)/urdf/arm_macro.xacro"/>

  <link name="world"/>

  <xacro:robot_arm parent_link="world">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:robot_arm>

</robot>